<h2> Conteúdos</h2>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<table class="table table-bordered" 
		style="width: 700px;">

<% @conteudos.each do |c| %>
<tr>
	<th>
		<%= link_to c.nome, conteudo_path(c) %>
	</th>
	<th style="width: 102px;" style="height: 20px">
		<%= link_to "Editar", edit_conteudo_path(c) %>
	</th>
	<th style="width: 102px;" style="height: 20px">
		<a href="conteudos/deletar/<%=c.id %>">Excluir </a>
	</th>
</tr>

	<br>

<% end %>

</table>

<%= link_to "Upload de Conteúdo", new_conteudo_path %>
