	
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

    <br><br>
<strong>Usuarios</strong>
<br><br>


<% @usuarios.each do |u| %>

    <%= link_to u.username, usuario_path(u) %>

    

    <%= link_to "Editar", edit_usuario_path(u) %>



      <a href="usuarios/deletar/<%=u.id %>">Excluir moda grosso</a>

    <br><br>

<% end %>

<%= link_to "cadastre-se", new_usuario_path %>
