	
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<% if session[:usuario] %>

    <h3>Bem Vindo,  <%= session[:usuario] %></h3>
   
<% end %>

    <br><br>
<strong>Usuarios</strong>


<table class="table table-bordered" 
		style="width: 700px;">
<%  @usuarios.each do |u| %>

	<tr>
		<th>
			<%= link_to u.username, usuario_path(u) %>
		</th>
		<th style="width: 102px;" style="height: 20px">
			<%= link_to "Editar", edit_usuario_path(u) %>
		</th>
		<th style="width: 102px;" style="height: 20px">
			<a href="usuarios/deletar/<%=u.id %>">Excluir </a>
		</th>
	</tr>
    <br>

<% end %>

</table>

<%= link_to "cadastre-se", new_usuario_path %>
