<h2>Editar Pergunta</h2>

<%= form_for @pergunta do |p| %>

    <%= p.label 'Editar Pergunta:' %>

    <%= p.text_field :texto %>
    <br>

    
     <%= p.label 'Conteudo:' %>
      <select id="conteudo" name="conteudo">
        <option value="nada">Nenhum</option>
      <% @conteudos.each do |b| %>
            
        <%= options_for_select([b.nome]) %>

      <% end %>
      </select>

     <br>
         <%= p.label 'Lista:' %>
      <select id="lista" name="lista">
        <option value="nada">Nenhum</option>
      <% @listas.each do |b| %>
            
        <%= options_for_select([b.nome]) %>

      <% end %>
      </select>

     <br>

    <%= p.submit 'Salvar' %>

<% end %>