<br><br>
<br><br>
<strong>Pergunta:<%= @pergunta.texto %></strong>
<br>
<strong>Usuario:</strong>
<%= link_to @usuario.username, usuario_path(@usuario) %>
<br>
<strong>Horário:<%= @pergunta.horario %></strong>
<br>
<br>
<strong>Respostas:</strong>
<br>

<table class="table table-bordered table-striped">

<% @respostas.each do |p| %>
	<tr>
  		<th>
  			<%= link_to p.username, usuario_path(p.usuario) %>
  		</th>
  		<th>
  			<%= p.texto %>
  		</th>

      <%if session[:admin] %>
        <th style="width: 102px;" style="height: 20px">
        <%= link_to "Editar", edit_resposta_path(p) %>
      </th>
      <th style="width: 102px;" style="height: 20px">
        <a href="respostas/deletar/<%=p.id %>">Excluir <a/>
      </th>
     <% end %>

     <%if session[:id_usuario] == p.usuario_id and session[:usuario] %>
        <th style="width: 102px;" style="height: 20px">
        <%= link_to "Editar", edit_resposta_path(p) %>
      </th>
      <th style="width: 102px;" style="height: 20px">
        <a href="respostas/deletar/<%=p.id %>">Excluir <a/>
      </th>
     <% end %>
  	</tr>

<% end %>

</table>


<%= form_for @resposta do |p| %>

	<%= p.label 'Insira sua resposta:' %>

	<%= p.text_area :texto %>

	<br>
	<%= p.submit 'responder' %>

<% end %>
