<br><br>
<br><br>
<legend><%= @pergunta.texto %></legend>
<strong><%= @usuario.username %></strong>
<br>
<strong><%= @pergunta.horario %></strong>
<br>
<br>
<br>

<table class="table table-bordered table-striped">

<% @respostas.each do |p| %>
	<tr>
  		<th>
  			<%= p.texto %>
  		</th>
  	</tr>

<% end %>

</table>


<%= form_for @resposta do |p| %>

	<%= p.label 'Insira sua resposta:' %>

	<%= p.text_area :texto %>

	<br>
	<%= p.submit 'responder' %>

<% end %>
