<h2>Nova Lista</h2>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>


<%= form_for @lista, :html => {:multipart=>true} do |l| %>

    <%= l.label 'Nome' %>

    <%= l.text_field :nome, maxlength: 30 %><br>

    <%= file_field_tag :arq, accept: 'application/pdf' %><br>

    <% ar = Conteudo.all.map { |c| [c.nome, c.id]} %>

    <%= select_tag(:conteudo,options_for_select(ar)) %><br>

    <%= l.submit 'Upload' %>

<% end %>